@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav h1 {
  color: #0290ff;
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
}

.nav-book {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-cate {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.book-el {
  width: 80%;
  margin: 1rem auto;
  border: 1px solid #000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookcms {
  display: flex;
  align-items: center;
  gap: 6rem;
  border-right: 4px solid #e8e8e8;
  padding-right: 30px;
}

.bookText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action {
  display: flex;
  flex-direction: column;
}

.action .titles,
.authors {
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
}

.action .titles {
  font-size: 1.813rem;
  letter-spacing: -0.2px;
  color: #121212;
  font-weight: 700;
}

.categories {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: 700;
  color: #121212;
}

.authors {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.btn {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.btn li {
  border-right: 2px solid #e8e8e8;
}

.btn li button {
  border: none;
  background: transparent;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #4386bf;
}

.btn li:nth-child(2) {
  padding-left: 20px;
}

.btn li:nth-child(3) {
  border-right: none;
  padding-left: 16px;
}

.prgBar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.class-pic {
  width: 4.25rem;
  height: 4.25rem;
}

.progress-text {
  display: flex;
  flex-direction: column;
  color: #121212;
}

.percent {
  font-size: 2rem;
}

.stats {
  opacity: 0.5;
  font-size: 0.875rem;
}

.currentbook {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', sans-serif;
  gap: 10px;
  margin-right: 12rem;
}

.current-chapter {
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
}

.current-chapter-data {
  font-size: 1rem;
  font-weight: 300;
  color: #121212;
  letter-spacing: -0.4px;
}

.update-btn {
  width: 11.5rem;
  height: 2.063rem;
  border: none;
  background: #0290ff;
  border-radius: 4px;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 10px;
  cursor: pointer;
}

.addbook-btn {
  width: 9.5rem;
  height: 2.098rem;
  border: none;
  background: #0290ff;
  border-radius: 4px;
  font-size: 0.813rem;
  margin-left: 2rem;
}

.form {
  width: 80%;
  padding: 1rem 2rem;
  margin: 2rem auto;
  border: 1px solid #000;
}

.form h2 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.form input {
  width: 20%;
  height: 33px;
  margin-right: 2rem;
}

.form input:first-child {
  width: 40%;
}

.action-btn {
  height: 33px;
}

.person-profile-container {
  border: 0.1rem solid var(--white-three);
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
  background-image: url(./assets/icons8-person-64.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.user-action-link {
  margin-right: 1.4rem;
}
